@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --cor-de-fundo: #0c0ce94d;
    --cor-do-formulario: #fde3a7d7;
    --cor-adicional: #6c63ff;
    --cor-do-hover: #6b63fff1;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-de-fundo);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
}

main > .form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-do-formulario);
    padding: 1rem;
}

.form-image > img {
    width: 31rem;
}

main > .form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

form > header {
    border-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

aside > h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--cor-adicional);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

header > .login-button {
    display: flex;
    align-items: center;
}

.login-button > button {
    border: none;
    background-color: var(--cor-adicional);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button > button:hover {
    background-color: var(--cor-do-hover);
}

button > a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

form > .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-group > .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box > input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000005e;
}

.input-box > input:hover {
    background-color: #eeeeee8a;
}

.input-box > input:focus-visible {
    outline: 1px solid var(--cor-adicional);
}

.input-box label, .gender-title h6 {
    font-size: 1rem;
    font-weight: 600;
}

.input-box > input::placeholder {
    color: #000000be;
}

article > .gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-group > .gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-group > .gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(--cor-adicional);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

button > a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffff;
}

.continue-button button:hover {
    background-color: var(--cor-do-hover);
}

@media screen and (max-width: 1331px) {
    main > .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }
    
    section.form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-wrap: nowrap;
        max-height: 20rem;
    }
}

@media screen and (max-width: 594px) {
    .input-group {
        overflow-y: scroll;
    }

    .gender-input {
        padding-left: 5px;
    }
}