@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

:root {
    --azul-principal: #3224F5;
    --azul-escuro: #163EDE;
    --azul-claro: #1981FA;
    --roxo-escuro: #5A16DE;
    --roxo-claro: #A319FA;
}

header,
section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

header {
    background-color: #024b61;
    position: relative;
}

header h1 {
    border: 2px solid white;
    padding: 10px 50px;
    margin: 50px;
    color: white;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

section {
    background-color: #66c3d0;
}

.wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translateX(-70px);
    }
}

.wave-2 {
    animation: moveWave1 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from {
        transform: translateX(-50px);
    }
}

.wave-3 {
    animation: moveWave1 3s 0.7s ease-in-out infinite alternate;
    
}


@keyframes moveWave3 {
    from {
        transform: translateX(-20px);
    }
}